*{
    margin: 0%;
    box-sizing: border-box;
    background-color: #fcfcfc;
  }
  .logo {
    width: 100%;
    height: 90px;
  }
  .app-container {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .content {
    margin-top: 40px;
    display: grid;
    grid-template-columns: auto auto;
    justify-content:center;
  }
  
  h1 {
    margin-top: 10px;
    margin-bottom: 30px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }
  .navigation ul {
    list-style-type: none;
   
  }
  .navigation li {
    padding: 10px;
    margin-bottom: 10px;
    color: #0a0f10;
    font-size: 20px;
  }
  .navigation :link {
    text-decoration: none;
    color: #070a0a;
    transition: color 0.3s ease;
  }
  .navigation :link:hover {
    color: #474f5c;
  }
  .navigation{
    width: 300px;
  }
  .form-container {
    width: 600px;
    margin: 0 auto;
    padding: 20px;
    border-left:  #333 solid 0.5px;
  }
  
  .form-group {
    margin-bottom: 10px;
  }
  
  label {
    display: inline-block;
    width: 160px;
    font-weight: bold;
  }
  
  input[type="text"],
  select {
    width:280px; 
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  button {
    margin-left: 10px;
    padding: 5px 10px;
    background-color:#08657d;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  button:hover {
    background-color:#08657d;
  }
  #button{
    margin-top: 50px;
    width: 150px;
  }
  :link{
    color: #000;
  }
  .decnx{
    text-align: right;
  }
  .h3{
   color: #08657d;
  font-size: 30px;
  margin-bottom: 30px;
  }
  /* Exemple de styles pour le DatePicker */

/* Style pour le conteneur du DatePicker */
.react-datepicker {
  font-family: Arial, sans-serif;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Style pour le conteneur du calendrier */
.react-datepicker__calendar-container {
  padding: 16px;
}

/* Style pour chaque jour du calendrier */
.react-datepicker__day {
  padding: 8px;
  cursor: pointer;
}

/* Style pour les jours désactivés */
.react-datepicker__day--disabled {
  color: #ccc;
  cursor: not-allowed;
}

/* Style pour les jours sélectionnés */
.react-datepicker__day--selected {
  background-color: #007bff;
  color: #fff;
}

/* Style pour les flèches de navigation */
.react-datepicker__navigation {
  width: 24px;
  height: 24px;
  border: none;
  cursor: pointer;
}

/* Style pour les flèches de navigation de gauche */
.react-datepicker__navigation--previous {
  left: 8px;
}

/* Style pour les flèches de navigation de droite */
.react-datepicker__navigation--next {
  right: 8px;
}

/* Style pour le mois et l'année affichés */
.react-datepicker__current-month,
.react-datepicker-time__header,
.react-datepicker-year-header {
  font-weight: bold;
}

/* Style pour le bouton de sélection du mois */
.react-datepicker__month-read-view--down-arrow,
.react-datepicker__year-read-view--down-arrow {
  border-top-color: #333;
}

/* Style pour le bouton de fermeture */
.react-datepicker__close-icon {
  padding: 0;
  cursor: pointer;
  background: none;
  border: none;
}
/* Style de la table */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

/* Style des cellules de la table */
td, th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

/* Style de l'en-tête de la table */
th {
  background-color: #f2f2f2;
}
.gg{
  color: #070a0a;
}
