 /* remove outline */
textarea:focus, 
textarea.form-control:focus, 
input.form-control:focus, 
button.btn:focus, 
button.btn:active, 
input[type=text]:focus, 
input[type=password]:focus, 
input[type=email]:focus, 
input[type=number]:focus, 
[type=text].form-control:focus, 
[type=password].form-control:focus, 
[type=email].form-control:focus, 
[type=tel].form-control:focus, 
[contenteditable].form-control:focus {
    box-shadow: inset 0 -1px 0 transparent;
    outline: none !important;
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-size: 13px;
}

.LOGIN,.SIGNUP{
    background: #dde8eb;
    height: 100vh;
}
.form-area{
    border: 0.5px solid #08657d;
    padding: 10px;
    background: #dde8eb;
}
.link-area,.form-check-label{
    color: #08657d;
    font-size: 13px;
    text-decoration: none;
}
button,.link-btn{
    max-width: 300px;
    /* color: #fff; */
    background: #08657d;
    padding: 6px;
    border: 1px solid #08657d;
    border-radius: 3px;
}
.form-control{
    background:#dde8eb;
}
.img-area{
    height:200px;
    width: 250px;
    background-color: #dde8eb;
}
.title-area{
    font-size: 15px;
}
.area-credentials h4, p{
    color: #08657d;
}
.form-check-label{
    color:black ;
}
.pq{
    color: #08657d;
    text-align: center;
    display: flex;
    font-size: 12px;
}